

<div class="wrap-content container" id="container">
  <!-- start: PAGE TITLE -->
  <section id="page-title">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="mainTitle">Patient profile </h1>
        <span class="mainDescription">description</span>
      </div>
    </div>
  </section>
  <!-- end: PAGE TITLE -->
  <!-- start: YOUR CONTENT HERE -->


  <!-- start: SECTION 1 -->
  <div class="container-fluid container-fullw bg-white">
    <div class="row">
      <div class="col-sm-12">
        <pre ng-repeat="notif in notifications" style="color:black" ng-show="notif.text" ng-class="{'alert-danger' : notif.priority == 'HIGH', 'alert-warning' : notif.priority == 'LOW' }">
          <strong>{{notif.text}}</strong>
        </pre>

        <fieldset>
          <legend>
            Patient details
            <button class="btn btn-default pull-right" style="margin-left: 10px; padding: 0 5px; height: 25px" ng-click="finishMonitoring()">Finish monitoring</button>
          </legend>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">
                  {{'labels.first_name' | translate}}
                </label>
                <input disabled="" type="text" value="{{patientDetails.first_name}}" class="form-control" id="firstname" name="firstname">
              </div>
              <div class="form-group">
                <label class="control-label">
                  {{'labels.last_name' | translate}}
                </label>
                <input disabled="" type="text" value="{{patientDetails.last_name}}" class="form-control" id="lastname" name="lastname">
              </div>
              <div class="form-group">
                <label class="control-label">
                  {{'labels.date_of_birth' | translate}}
                </label>
                <input disabled="" type="text" value="{{patientDetails.birth_date }}" class="form-control" id="dob" name="dob">
              </div>
              <div class="form-group">
                <label class="control-label">
                  {{'labels.date_of_birth' | translate}}
                </label>
                <input disabled="" type="text" value="{{patientDetails.birth_date }}" class="form-control" id="dob" name="dob">
              </div>
              <div class="form-group">
                <label class="control-label">
                  {{'labels.date_of_birth' | translate}}
                </label>
                <input disabled="" type="text" value="{{patientDetails.birth_date }}" class="form-control" id="dob" name="dob">
              </div>
              <div class="row" style="padding-top: 36px">
                <canvas id="temperature" class="chart chart-line" chart-data="temperatureData" chart-colours="temperatureColor"
                        chart-labels="temperatureLabels" chart-legend="true" chart-series="temperatureSeries"
                        chart-click="onClick" >
                </canvas>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">
                  Description
                </label>
                <input disabled="" type="text" value="{{monitoring.description}}" class="form-control" id="lastname" name="lastname">
              </div>

              <div class="form-group">
                <label class="control-label">
                  Date
                </label>
                <input disabled="" type="text" value="{{monitoring.dateTime}}" class="form-control" id="datetmie" name="datetmie">
              </div>
              <div class="form-group">
                <label class="control-label">
                  Location
                </label>
                <input disabled="" type="text" value="{{monitoring.location }}" class="form-control" id="dob" name="dob">
              </div>
              <div class="form-group">
                <label class="control-label">
                 Finished
                </label>
                <input disabled="" type="text" value="{{monitoring.finished ? 'Yes' : 'No' }}" class="form-control" id="dob" name="dob">
              </div>
              <div class="form-group">
                <label class="control-label">
                  Additionaly
                </label>
                <input disabled="" type="text" value="{{monitoring.additionally}}" class="form-control" id="dob" name="dob">
              </div>
            </div>

            <div class="col-md-6">
              <canvas id="heart" class="chart chart-line" chart-data="heartData"
                      chart-labels="heartLabels" chart-legend="true" chart-series="heartSeries" chart-colours="heartColor"
                      chart-click="onClick" >
              </canvas>

              <canvas id="presure" class="chart chart-line" chart-data="presureData" chart-colours="presureColor"
                      chart-labels="presureLabels" chart-legend="true" chart-series="presureSeries"
                      chart-click="onClick" >
              </canvas>



            </div>

          </div>
        </fieldset>

      </div>
    </div>


  </div>
  <!-- end: SECTION 1 -->


  <!-- end: YOUR CONTENT HERE -->



</div>
